################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerenciadorTarefas/FileContentIndex
/.vs/GerenciadorTarefas/v17
